@import '../../index.scss';



.root {

  .servicesWrapper{
    max-width: $container;
    margin: 24px auto;
    /* From https://css.glass */
    background: rgba(157, 157, 157, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
  }

  .__title {
    color: $main-color;
    font-size: 2rem;
    margin-bottom: 3rem;
  }


  .__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .service__card img{
    max-width: 300px;
  }
  .service__card ul{
    text-align: left;
  }
  .service__card ul li{
    list-style: none;
    padding: 10px;
    border: 1px solid $main-color;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    background-position-y: 0%;
    transition: 0.5s all ease-in-out;
    &:hover{
      transform: translateX(-2px);
      background-size: 100%;
      background-color: $main-color;
      transition: 0.5s all ease-in-out;
      color: white;
    }
   
  }
  .service__card ul li span{
    font-size: 1.1em;
    color: $main-color;
  }
  
}



