@import '../../../index.scss';



.root {

  .servicesWrapper{
    max-width: $container;
    margin: 24px auto;
    /* From https://css.glass */
    background: rgba(59, 59, 59, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
   
  }

  .__title {
    color: $main-color;
    font-size: 3rem;
    margin-bottom: 3rem;
    
  }


  .__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .service__card img{
    max-width: 300px;
  }
  .service__card ul{
    text-align: left;
  }
  .service__card ul li{
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 0px 0px 2px 0.5px #b4b4b4;
    background-position-y: 0%;
    transition: 0.5s all ease-in-out;
    &:hover{
      transform: scale(1.1);
      background-size: 100%;
      background-color: $main-color;
      transition: 0.5s all ease-in-out;
      
      color: white;
      &:hover span{
        color: white;
        font-size: 1.1em;
        transition: 0.5s all ease-in-out;
      }
    }
   
  }
  .service__card ul li span{
    font-size: 1.1em;
    color: #b4b4b4;
    transition: 0.5s all ease-in-out;
  }
  
}


