@import '../../index.scss';

.root {
  background-color: #050505;
  position: sticky;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    max-width: 80px;
    max-height: 80px;
  }
}

.logo img{
  max-width: 15em;
}

.buttons {
  display: flex;
    flex-direction: row;
    align-items: center;
  button {
    margin-left: 10px;
    
  }

  a {
    text-decoration: none;
  }
}
